body {
    background-color: linen;
}

h1 {
    color: maroon;
    margin-left: 40px;
    font-family: 'Comic Sans MS';
} 

 
table {
  font-style: italic;
  text-decoration: none;
  font-weight: none;


}

a:link {
  color: Green;
}

a:visited {
  color: Red;
}

a:hover {
  text-decoration: underline;
  background-color:blue;
}

a:active {
  font-weight: bold;
}
